# Alfajores Contract Addresses
VITE_ALFAJORES_HARVEST_LEDGER=
VITE_ALFAJORES_FARMER_MARKET=
VITE_ALFAJORES_VERIFIER=

# Celo Mainnet Contract Addresses
VITE_CELO_HARVEST_LEDGER=
VITE_CELO_FARMER_MARKET=
VITE_CELO_VERIFIER=

# Local / Hardhat Contract Addresses
VITE_LOCAL_HARVEST_LEDGER=
VITE_LOCAL_FARMER_MARKET=
VITE_LOCAL_VERIFIER=
VITE_LOCAL_MOCK_CUSD=
